.upload {
  padding: 1.5rem 1rem;
  border-top: 1px solid $mercury;
  font-size: $sub-header-font-m;
  font-family: 'AvenirNext-bold';
  color: $secondary;

  &__header {
    margin-bottom: 2rem;
  }

  &__thumbnail-header, 
  &__title-header, 
  &__description-header {
    color: $silver;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-family: 'AvenirNext-demi-bold';
  }

  &__thumbnail-img {
    min-height: 9.56rem;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  &__title-input,
  &__description-input {
    padding-left: 1rem;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 4px;
  }

  &__title-input {
    height: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__description-input {
    height: 9rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__publish-btn, 
  &__cancel-btn {
    width: 100%;
  }

  &__cancel-btn {
    background-color: $white;
    color: $primary;
  }

  @include tablet {
    font-size: $h2-header-font-dt;

    &__container {
      border-bottom: 1px solid $mercury;
    }

    &__header {
      padding-bottom: 2rem;
      border-bottom: 1px solid $mercury;
    }

    &__thumbnail-header, 
    &__title-header, 
    &__description-header {
      font-size: $labels-font-dt;
    }

    &__thumbnail-img {
      height: 11.44rem;
      width: 21.5rem;
      border-radius: 4px;
      margin-bottom: 2.5rem;
    }

    &__description-input {
      padding-bottom: 2.5rem;
    }

    &__publish-cancel-btns {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__publish-btn, 
    &__cancel-btn {
      width: 10rem;
    }
  }
}